In [1]:
import pandas as pd
import numpy as np
import sys, os
import time as time
from datetime import datetime,timedelta
import requests
from IPython.display import display
import json
from pandas.io.json import json_normalize

#import API key
from api_keys import KeyId

In [2]:
start = datetime.utcnow() - timedelta(hours=2)

In [3]:
start = time.mktime(start.timetuple())

In [21]:
start = str(int(start))
start

'1582065221'

In [5]:
end = datetime.utcnow() - timedelta(hours=1)

In [6]:
end = time.mktime(end.timetuple())

In [7]:
end = str(int(end))
end

'1582068823'

In [8]:
file =pd.read_csv('Solar_Sites.csv')
file.head()

,Project: Project Name,Latitude,Longitude,Site ID,Coor,UID
0,Alburgh_VT_VEC-GM,44.98,-73.30,565.0,-73.3%2044.98,a4d1eb92-7fff-47ab-8dc4-76e2068b56be
1,American Canyon 11365S_CA_WAG-RT,38.17,-122.26,448.0,-122.26%2038.17,aa49f449-8dcb-4ef4-93c5-87a25c16efeb
2,American Fork 343_UT_CNMK-RT,40.38,-111.80,312.0,-111.8%2040.38,aa49f449-8dcb-4ef4-93c5-87a25c16efeb
3,Anaheim_CA_MRT-RT,33.84,-117.91,570.0,-117.91%2033.84,a30ee413-f5a3-4c78-a79e-c3fe32d75e78
4,Anoka_MN_CONX-GM,45.20,-93.39,760.0,-93.39%2045.2,c53235d4-b5de-4587-a6a4-5656999ebc3a

In [9]:
new = file[['UID',"Project: Project Name", "Site ID"]]
new.head()

,UID,Project: Project Name,Site ID
0,a4d1eb92-7fff-47ab-8dc4-76e2068b56be,Alburgh_VT_VEC-GM,565.0
1,aa49f449-8dcb-4ef4-93c5-87a25c16efeb,American Canyon 11365S_CA_WAG-RT,448.0
2,aa49f449-8dcb-4ef4-93c5-87a25c16efeb,American Fork 343_UT_CNMK-RT,312.0
3,a30ee413-f5a3-4c78-a79e-c3fe32d75e78,Anaheim_CA_MRT-RT,570.0
4,c53235d4-b5de-4587-a6a4-5656999ebc3a,Anoka_MN_CONX-GM,760.0

In [10]:
new['UID']= new['UID'].astype(str)
new['UID'].head()

C:\Users\DS5975\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0    a4d1eb92-7fff-47ab-8dc4-76e2068b56be
1    aa49f449-8dcb-4ef4-93c5-87a25c16efeb
2    aa49f449-8dcb-4ef4-93c5-87a25c16efeb
3    a30ee413-f5a3-4c78-a79e-c3fe32d75e78
4    c53235d4-b5de-4587-a6a4-5656999ebc3a
Name: UID, dtype: object

In [11]:
new['UID']= new['UID'].dropna()

C:\Users\DS5975\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

url = 'https://api.engie.com:8065/wss/v2/weather/forecast?start=1580284800&end=1580288400&targetId=a4d1eb92-7fff-47ab-8dc4-76e2068b56be&fullDays=true&timeStep=3600&params=%20diffuse_rad%3AW,%20direct_rad%3AW,global_rad%3AW,absolute_humidity_2m%3Agm3

Headless Downloads

In [12]:
import csv
from urllib import request
import uuid

In [24]:
for index, row in new.iterrows():
    targetId = row['UID']
    
    url = 'https://api.engie.com:8065/wss/v2/weather/forecast?start={start}&end={end}&targetId={targetId}&fullDays=true&timeStep=3600&params=%20absolute_humidity_2m%3Agm3, clear_sky_rad%3AW,dew_or_rime%3Aidx'.format(start=start, end=end, targetId=targetId) 
    
    payload = {}
    headers = {
  'KeyId': KeyId
}

response = requests.request("GET", url, headers=headers, data = payload)

data = response.text.encode('utf8')

print(data)

b'{"code":"DB","details":"Can t find objet of class Location with property uid equals to nan"}'

In [27]:
url = 'https://api.engie.com:8065/wss/v2/weather/forecast?start={start}&end={end}&targetId={targetId}&fullDays=true&timeStep=3600&params=%20absolute_humidity_2m%3Agm3'.format(start=start, end=end, targetId=targetId) 

payload = {}
headers = {
  'KeyId': KeyId
}

response = requests.request("GET", url, headers=headers, data = payload)

data = response.text.encode('utf8')

print(data)

b'{"code":"DB","details":"Can t find objet of class Location with property uid equals to nan"}'

In [26]:
url = 'https://api.engie.com:8065/wss/v2/weather/forecast?start={start}&end={end}&targetId={targetId}&fullDays=true&timeStep=3600&params=%20absolute_humidity_2m%3Agm3'.format(start=start, end=end, targetId=targetId) 

payload = {}
headers = {
  'KeyId': KeyId
}

response = requests.request("GET", url, headers=headers, data = payload)

data = response.text.encode('utf8')

print(data)

'https://api.engie.com:8065/wss/v2/weather/forecast?start=1582065221&end=1582068823&targetId=nan&fullDays=true&timeStep=3600&params=%20absolute_humidity_2m%3Agm3'

In [42]:
x= data.decode('utf8')

In [40]:
type(x)

str

In [41]:
json.loads(x)

AttributeError: 'str' object has no attribute 'loads'